[submodule "external/arbius"]
	path = external/arbius
	url = https://github.com/semperai/arbius.git
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
