build/*
cache/*
/config.json
/*.exe
/log*.txt
/*.json
*.bak
contracts/.deps/*
contracts/artifacts/*
contracts/.states/*
cmd/gobius/*.exe
sql/sqlite/*.db
*.exe~
testnet.txt
TODO.txt
scripts/node_modules/*
scripts/bun.lockb
scripts/wallets.json
storage.db*
gobius
local.db*
bin/*
.vscode/settings.json
.task/
!config.example.json
!sepolia.example.json